<div class="modal-container" *ngIf="selectedFeedbacks.length > 0">
  <mat-card class="modal-card">

    <button mat-icon-button (click)="prevPage()" class="nav-button left-button">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- Кнопка Вперед -->
    <button mat-icon-button (click)="nextPage()" class="nav-button right-button">
      <mat-icon>chevron_right</mat-icon>
    </button>

    <div class="mat-card-header-wrapper">
    <mat-card-header >
      <mat-card-title>Продукт: {{getCurrentFeedback().feedback.productDetails.productName}}</mat-card-title>
      <mat-card-subtitle>Артикул: {{getCurrentFeedback().feedback.productDetails.nmId}}</mat-card-subtitle>
      <mat-card-subtitle>Бренд: {{getCurrentFeedback().feedback.productDetails.brandName}}</mat-card-subtitle>
      <mat-card-subtitle>Оценка: {{getCurrentFeedback().feedback.productValuation}}</mat-card-subtitle>
      <mat-card-subtitle>
        <a href="{{getCurrentFeedback().feedback.productDetails.wbUrl}}" target="_blank">Товар на WB</a>
      </mat-card-subtitle>
      <img class="mat-card-lg-image" src="{{getCurrentFeedback().feedback.productDetails.photoLink}}">
    </mat-card-header>
    </div>

    <div class="mat-card-header-wrapper">
    <mat-card-content class = "mat-card-text">
      Отзыв:
      <p class="feedbackText">
        {{getCurrentFeedback().feedback.text}}
      </p>
    </mat-card-content>
    </div>

    <div class="textarea-wrapper">
      <textarea [(ngModel)]="answerText"></textarea>
    </div>

    <button mat-button class="bottom-button" (click)="sendResponse()">
      Отправить ответ</button>
  </mat-card>
</div>
