<mat-card>
  <!--  <mat-card-content>{{feedback.text}}</mat-card-content>-->
  <mat-card>
    <mat-card-header>
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>Продукт: {{feedback.productDetails.productName}}</mat-card-title>
      <mat-card-subtitle>Артикул: {{feedback.productDetails.nmId}}</mat-card-subtitle>
      <mat-card-subtitle>Бренд: {{feedback.productDetails.brandName}}</mat-card-subtitle>
      <mat-card-subtitle>Оценка: {{feedback.productValuation}}</mat-card-subtitle>
      <mat-card-subtitle>
        <a href="{{feedback.productDetails.wbUrl}}" target="_blank">Товар на WB</a>
      </mat-card-subtitle>
      <img class="mat-card-lg-image" src="{{feedback.productDetails.photoLink}}">


    </mat-card-header>
    <mat-card-content>
      Отзыв:
      <p class="feedbackText">
        {{feedback.text}}
      </p>
      <div *ngIf="feedback.photoLinks?.length > 0">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Фото
          </mat-panel-title>
        </mat-expansion-panel-header>

          <span *ngFor="let img of feedback.photoLinks">
            <div class="image-container">
            <img class="mat-card-lg-image1"
                 [src]="img.fullSize"
                 (mouseover)="expandImage()"
                 (mouseout)="shrinkImage()">
              </div>
          </span>
      </mat-expansion-panel>
      </div>


      <mat-checkbox (change)="setChoose()">Выбрать</mat-checkbox>
    </mat-card-content>

  </mat-card>
</mat-card>




